@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import './mixins';
@import '../variables/colors';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Public Sans", sans-serif !important;
}

html {
    scroll-behavior: smooth;
}


::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background-color: #f9f9f9;
}

::-webkit-scrollbar-thumb {
    background-color: $primary_color;
    border-radius: 30px;
}


ul {
    padding: 0;
}

body {
    background-color: #ffffff;
    position: relative;
    overflow-x: hidden;
}

.container {
    width: 100%;
    max-width: 1380px;
    margin: 0 auto;
    padding: 13px 20px;
}

.buttonScroll {
    position: fixed;
    bottom: 35px;
    right: 50px;
    background-color: $primary_color;
    border: 1px solid $primary_color;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 18px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
    z-index: 4;
}

.buttonScroll:hover {
    background-color: white;
    color: $primary_color;
}

.menuMobile {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 20000;
    background-color: rgba(0, 0, 0, 0.36);
    height: 100vh;
    width: 100%;
    transform: translateX(100%);
    transition: 0.5s;
    display: flex;
    box-shadow: 0px 4px 8px -4px rgba(108, 3, 255, 0.42);

    .container {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 20000;
        background-color: #ffffff;
        z-index: 20000;
        width: 300px;
        height: 100vh;
        transform: translateX(0%);
        transition: 0.5s;
        box-shadow: 0px 4px 8px -4px rgba(108, 3, 255, 0.42);

        .top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 10px 16px;
            border-bottom: 1px solid #00000029;

            button {
                background-color: $primary_color;
                color: white;
                border: 1px solid $primary_color;
                border-radius: 6px;
                width: 30px;
                height: 30px;
                font-size: 25px;
                position: relative;
                cursor: pointer;

                svg {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            h4 {
                color: $black_color;
                font-size: 25px;
                margin: 0;
            }
        }

        ul {
            li {
                text-align: center;
                list-style: none;
                margin: 30px;
                font-size: 20px;
                font-weight: 500;
                cursor: pointer;

                a {
                    text-decoration: none;
                    color: #000;
                    transition: 0.5s;

                    &:hover {
                        color: $primary_color;
                    }

                    &.active {
                        color: $primary_color;
                    }
                }
            }
        }
    }

    #outMenu {
        flex: 1;
    }

}

.showMenuMobile {
    transform: translateX(0%);
}


.animation {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loader {
    width: 4px;
    color: $primary_color;
    aspect-ratio: 1;
    border-radius: 50%;
    box-shadow:
        19px -19px 0 0px, 38px -19px 0 0px, 57px -19px 0 0px,
        19px 0 0 5px, 38px 0 0 5px, 57px 0 0 5px,
        19px 19px 0 0px, 38px 19px 0 0px, 57px 19px 0 0px;
    transform: translateX(-38px);
    animation: l26 2s infinite linear;
}


@keyframes l26 {
    12.5% {
        box-shadow:
            19px -19px 0 0px, 38px -19px 0 0px, 57px -19px 0 5px,
            19px 0 0 5px, 38px 0 0 0px, 57px 0 0 5px,
            19px 19px 0 0px, 38px 19px 0 0px, 57px 19px 0 0px
    }

    25% {
        box-shadow:
            19px -19px 0 5px, 38px -19px 0 0px, 57px -19px 0 5px,
            19px 0 0 0px, 38px 0 0 0px, 57px 0 0 0px,
            19px 19px 0 0px, 38px 19px 0 5px, 57px 19px 0 0px
    }

    50% {
        box-shadow:
            19px -19px 0 5px, 38px -19px 0 5px, 57px -19px 0 0px,
            19px 0 0 0px, 38px 0 0 0px, 57px 0 0 0px,
            19px 19px 0 0px, 38px 19px 0 0px, 57px 19px 0 5px
    }

    62.5% {
        box-shadow:
            19px -19px 0 0px, 38px -19px 0 0px, 57px -19px 0 0px,
            19px 0 0 5px, 38px 0 0 0px, 57px 0 0 0px,
            19px 19px 0 0px, 38px 19px 0 5px, 57px 19px 0 5px
    }

    75% {
        box-shadow:
            19px -19px 0 0px, 38px -19px 0 5px, 57px -19px 0 0px,
            19px 0 0 0px, 38px 0 0 0px, 57px 0 0 5px,
            19px 19px 0 0px, 38px 19px 0 0px, 57px 19px 0 5px
    }

    87.5% {
        box-shadow:
            19px -19px 0 0px, 38px -19px 0 5px, 57px -19px 0 0px,
            19px 0 0 0px, 38px 0 0 5px, 57px 0 0 0px,
            19px 19px 0 5px, 38px 19px 0 0px, 57px 19px 0 0px
    }
}

@keyframes l1 {
    to {
        opacity: 0;
    }
}

/* Loader animation */
@keyframes loader-animation {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.effect {
    font-weight: bold;
    font-family: sans-serif;
    font-size: 30px;
    animation: loader-animation 2s ease forwards;
}

#sections {
    animation: content-animation 1.5s ease forwards;
}

@keyframes content-animation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.GetInTouchButton {
    width: 100%;

    @include sm {
        display: none;
    }

    display: block;
    margin: 20px auto 0px;
    padding: 18px;
    border-radius: 16px;
    outline: none;
    border: 1px solid $primary_color;
    background-color: $primary_color;
    color: #ffffff;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
}

.search {
    background-color: #F4F7FA;
    padding: 3px 0px;

    &.contactSearch {
        display: block;

        @include sm {
            display: none;
        }
    }

    .container {
        display: flex;
        gap: 15px;
        flex-direction: column;

        @include smm {
            flex-direction: row;
        }

        .searchInput {
            position: relative;
            flex: 1;
            background-color: #FFFFFF;
            border-radius: 8px;
            box-shadow: 0px 3px 4px 0px rgba(153, 155, 168, 0.25);

            input {
                width: 100%;
                height: 50px;
                font-size: 12px;

                @include sm {
                    font-size: 15px;
                }

                @include smm {
                    height: 100%;
                }

                padding: 0px 15px;
                background-color: #ffffff;
                border: 1px solid #ffffff;
                color: $black_color;
                border-radius: 8px;
                outline: none;

                &::placeholder {
                    color: #6F818C;
                    font-weight: 500;
                }
            }

            button {
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                border: 1px solid $primary_color;
                background-color: $primary_color;
                color: #FFFFFF;
                outline: none;
                font-size: 15px;
                cursor: pointer;
                transition: 0.5s;

                &:hover {
                    color: $primary_color;
                    background-color: #FFFFFF;
                }
            }
        }

        .boxes {
            display: flex;
            gap: 10px;

            .boxShares {
                width: 100%;
                padding: 4px 5px;

                @include smm {
                    width: auto;
                    padding: 9px 18px;
                }

                .box {
                    padding: 6px 5px;

                    @include sm {
                        padding: 8px 10px;
                    }

                    p {
                        font-size: 10px;

                        @include sm {
                            font-size: 16px;
                        }
                    }

                    svg {
                        font-size: 10px;

                        @include sm {
                            font-size: 18px;
                        }
                    }

                }

                .text {
                    p {
                        font-size: 11px;

                        @include sm {
                            font-size: 16px;
                        }
                    }

                    span {
                        font-size: 9px;

                        @include sm {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}

.boxesShares {
    display: none;
    gap: 15px;

    @include xl {
        display: flex;
    }

    .boxShares {
        width: 100%;
    }
}

.boxShares {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 9px 18px;
    background-color: #ffffff;
    border-radius: 8px;

    .box {
        display: flex;
        padding: 8px 10px;
        gap: 8px;
        border-radius: 8px;

        p {
            font-weight: 700;
        }

        svg {
            font-size: 18px;
        }
    }

    .text {
        p {
            color: $black_color;
            font-weight: 700;
            font-size: 16px;
        }

        span {
            color: #6F818C;
            font-size: 12px;
        }
    }

    &.boxDown {
        border: 1px solid rgba(234, 81, 54, 0.5);

        .box {
            background-color: rgba(234, 81, 54, 0.1);
            color: #EA5136;

            svg {
                transform: rotate(140deg);
            }
        }
    }

    &.boxUP {
        border: 1px solid rgba(32, 140, 68, 0.5);

        .box {
            background-color: rgba(32, 140, 68, 0.1);
            color: #208C44;

            svg {
                transform: rotate(45deg);
            }
        }
    }
}

.carouselDesktop {
    margin: 20px 0px;

    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .buttons {
            display: flex;
            align-items: center;
            gap: 10px;

            a {
                text-decoration: none;
                color: #6F818C;
                font-weight: 500;
                transition: 0.5s;

                &:hover {
                    letter-spacing: 1px;
                    color: $primary_color;
                }
            }

            button {
                background-color: #ffffff;
                border: 1px solid #E4E6E8;
                color: #6F818C;
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 8px;
                cursor: pointer;
                transition: 0.5s;

                &:hover {
                    background-color: $primary_color;
                    color: #ffffff;
                }
            }
        }
    }

    h2 {
        color: $black_color;
        font-size: 35px;
        margin-bottom: 20px;
    }

    .boxes {
        display: flex;
        gap: 20px;
        overflow-y: hidden;
        width: 100%;
        margin-right: auto;
        overflow-x: auto;

        &.boxesDesktop {
            display: none;

            @include sm {
                display: flex;
            }
        }

        &.boxesMobile {
            display: flex;

            @include sm {
                display: none;
            }
        }

        &::-webkit-scrollbar {
            height: 0px;
        }

        &::-webkit-scrollbar-track {
            background-color: #f9f9f9;
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--secondary);
            border-radius: 30px;
        }

        .group {
            display: block;
            flex-shrink: 0;
            width: fit-content;

            @include sm {
                display: none;
            }

            .box {
                width: 100% !important;
                margin-bottom: 20px;
            }
        }

        .box {
            flex-shrink: 0;
            width: fit-content;

            @include sm {
                width: calc((97.5% - 15px)/ 2);
            }

            @include md {
                width: calc((98% - 15px)/ 3);
            }
        }
    }

    
    &.carouselMobile {
        display: none;
    
        @include sm {
            display: block;
        }
    }
    
    &.moreArticles {
        .top {
            margin-bottom: 20px !important;

            h2 {
                margin-bottom: 0px !important;
            }
        }

        .box {
            border: 1px solid #E4E6E8;
            border-radius: 14px;
            cursor: pointer;

            .image {
                img {
                    max-height: 190px;
                    width: 100%;
                    border-top-left-radius: 14px;
                    border-top-right-radius: 14px;
                }
            }

            .text {
                position: relative;
                padding: 20px;

                .logo {
                    width: 60px;
                    height: 60px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #FFFFFF;
                    border-radius: 12px;
                    border: 1px solid #E4E6E8;
                    position: absolute;
                    top: -50px;
                    box-shadow: 0px 2px 8px 0px rgba(153, 155, 168, 0.2);

                    img {
                        width: 40px;
                        height: 40px;
                    }
                }

                h2 {
                    font-size: 16px;
                    color: $black_color;
                    margin: 2px 0px !important;
                }

                p {
                    color: #6F818C;
                    line-height: 1.4;
                    font-size: 14px;
                    margin: 10px 0px;
                }

                .footer {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 20px;

                    a {
                        background-color: #F2F3F4;
                        color: $black_color;
                        border: 1px solid #F2F3F4;
                        padding: 0px 20px;
                        border-radius: 10px;
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        color: $black_color;
                        cursor: pointer;
                        transition: 0.5s;
                        text-decoration: none;

                        p {
                            color: $black_color;
                            font-weight: 600;
                            transition: 0.5s;
                        }

                        &:hover {
                            background-color: $primary_color;
                            color: #FFFFFF;

                            p {
                                color: #FFFFFF;
                            }
                        }
                    }

                    span {
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        color: rgba(111, 129, 140, 0.75);
                        font-size: 12px;
                    }
                }
            }
        }
    }

}


.projectOverview {
    .text {
        h3 {
            color: $black_color;
            margin-bottom: 10px;
        }

        p {
            color: $black_color;
            font-size: 14px;
            font-weight: 500;
            line-height: 1.6;
        }
    }

    .projects {
        margin-top: 15px;

        .project {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 1.5px solid #6F818C;
            border-radius: 10px;
            padding: 5px 15px;
            text-decoration: none;
            margin-top: 10px;
            transition: 0.5s;

            &:hover {
                transform: scale(1.1);

                .more {
                    letter-spacing: 1.5px;
                }
            }

            .flex {
                display: flex;
                align-items: center;
                gap: 10px;

                .image {
                    img {
                        border-radius: 10px;
                    }
                }

                p {
                    color: $black_color;
                    font-weight: 700;
                    font-size: 15px;
                }
            }

            .more {
                color: #6F818C;
                font-size: 13px;
                display: flex;
                align-items: center;
                gap: 5px;
                transition: 0.5s;
            }
        }
    }
}

.getInTouch {
    background-color: #F8FAFC;
    border: 1px solid #E4E6E8;
    border-radius: 16px;
    padding: 15px 18px 30px;
    margin-top: 25px;

    .icon {
        margin: 20px 0px;
    }

    .textGetInTouch {
        h3 {
            font-size: 32px;
            color: $black_color;
        }

        p {
            color: #6F818C;
            line-height: 1.5;
            font-size: 14px;
            margin: 15px 0px;
        }
    }

    form {
        .boxes {
            display: grid;
            grid-template-columns: 1fr;
            gap: 15px;
            margin-bottom: 20px;
        }

        .boxInput {
            label {
                display: block;
                color: $black_color;
                font-weight: 700;
                font-size: 14px;
                margin: 7px 0px;
            }

            input {
                width: 100%;
                padding: 20px;
                background-color: #ffffff;
                border: 1px solid #99BFBE;

                @include sm {
                    border: 1px solid #E4E6E8;
                }

                color: $black_color;
                border-radius: 14px;
                outline: none;

                &::placeholder {
                    color: #6F818C;
                    font-weight: 500;
                }
            }

            .phone {
                position: relative;

                input {
                    padding-left: 40px;
                }

                img {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 15px;
                }
            }
        }

        button {
            width: 100%;

            @include sm {
                width: 80%;
            }

            display: block;
            margin: 20px auto 0px;
            padding: 18px;
            border-radius: 10px;
            outline: none;
            border: 1px solid $primary_color;
            background-color: $primary_color;
            color: #ffffff;
            font-size: 17px;
            font-weight: 600;
            cursor: pointer;
            transition: 0.5s;
            text-transform: uppercase;

            &:hover {
                background-color: #ffffff;
                color: $primary_color;
            }
        }
    }

    &.style_2 {
        display: flex;
        justify-content: center;
        margin: 20px 0px;
        padding: 25px 18px 30px;
        flex-direction: column;

        @include sm {
            margin: 60px 0px;
        }

        @include md {
            flex-direction: row;
        }

        p {
            width: 80%;
        }

        .boxes {
            display: grid;
            grid-template-columns: 1fr;

            @include smm {
                grid-template-columns: 1fr 1fr;
            }
        }
    }

}

.controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;

    @include sm {
        justify-content: space-between;
    }

    &.articles {
        justify-content: center;
        gap: 10px;
        margin-top: 10px;

        @include sm {
            gap: 30px;
        }
    }

    button {
        background-color: #ffffff;
        border: 1px solid #E4E6E8;
        color: #6F818C;
        width: 35px;
        height: 35px;

        @include sm {
            width: 40px;
            height: 40px;
        }

        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        cursor: pointer;
        transition: 0.5s;

        &:hover {
            background-color: $primary_color;
            color: #ffffff;
        }
    }

    ul {
        list-style: none;
        display: flex;
        gap: 10px;

        li {
            background-color: #ffffff;
            border: 1px solid #E4E6E8;
            color: $black_color;
            font-weight: 700;
            width: 35px;
            height: 35px;

            @include sm {
                width: 40px;
                height: 40px;
            }

            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
            cursor: pointer;
            transition: 0.5s;
            font-size: 12px;

            &.active {
                background-color: $primary_color;
                color: #ffffff;
            }

            &:hover {
                background-color: $primary_color;
                color: #ffffff;
            }
        }
    }
}

.sidebar {
    width: 240px;
    background-color: #282a42 !important;
    height: 100vh;
    justify-content: space-between;
    flex-direction: column;
    display: none;

    @include xl {
        display: flex;
    }

    .logo {
        margin: 20px 0px;
        text-align: center;

        img {
            width: 110px;
        }
    }

    ul {
        &::-webkit-scrollbar {
            width: 4px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #bdbdbdce;
            border-radius: 6px;
        }

        &::-webkit-scrollbar-track {
            background-color: #282a42 !important;
        }

        height: 60vh;
        overflow-y: auto;

        li {
            display: flex;
            align-items: center;
            color: #d1d1e7;
            font-size: 1.2rem;
            padding: 12px 16px;
            border-radius: 6px;
            list-style: none;
            cursor: pointer;
            transition: 0.5s;
            width: 90%;
            transition: 0.3s;
            margin-top: 10px;

            svg {
                color: #d1d1e7;
                opacity: 0.5;
                font-size: 1.2rem;
                margin-right: 20px;
            }

            &:hover {
                background-color: rgba(164, 164, 164, 0.134);
            }
        }

        li.active {
            color: #FFFFFF;
            background-color: $primary-color;
            border-radius: 0 50rem 50rem 0;

            svg {
                color: #FFFFFF;
                opacity: 0.5;
            }
        }
    }

    .logOut {
        display: flex;
        align-items: center;
        color: #d1d1e7;
        font-size: 1rem;
        padding: 15px 16px;
        list-style: none;
        cursor: pointer;
        transition: 0.5s;
        width: 100%;
        transition: 0.3s;

        svg {
            color: #d1d1e7;
            opacity: 0.5;
            font-size: 1.2rem;
            margin-right: 20px;
        }

        &:hover {
            background-color: rgba(164, 164, 164, 0.134);
        }
    }
}

form {
    .titleForm {
        display: flex;
        justify-content: space-between;
        align-items: end;
        flex-wrap: wrap;

        .text {
            h2 {
                color: #544f5a;
                font-size: 24px;
                margin-bottom: 2px;
            }

            p {
                color: #89868d;
            }
        }

        .buttons {
            display: flex;
            gap: 10px;

            button {
                font-size: 17px;
                text-transform: uppercase;
                padding: 4px 20px;
                transition: 0.5s;
                font-weight: 500;
                border-radius: 5px;
                font-size: 14px;
                margin-top: 10px;

                @include sm {
                    font-size: 17px;
                    margin-top: 0px;
                }

                &:first-of-type {
                    border: 1px solid #c5c6c9;
                    color: #8a8d93;
                    background: rgba(0, 0, 0, 0);
                }

                &:last-of-type {
                    background-color: #9055fd;
                    color: #f9f9f9;
                    border: 1px solid #9055fd;
                    box-shadow: 0px 1px 5px 0px rgba(58, 53, 65, .12);

                    &:hover {
                        color: #9055fd;
                        background-color: transparent;
                    }
                }
            }
        }
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;

        @include lg {
            grid-template-columns: 2.7fr 1.3fr;
        }
    }

    .gridForm {
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;

        @include lg {
            grid-template-columns: 2fr 2fr;
        }
    }
}

.flex {
    display: flex;
}

.bodyContent {
    background-color: #f4f5fa;
    overflow-y: auto;
    height: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.addArticle {
    padding: 20px 0px 40px;

    .formOne {
        @include md {
            width: 70%;
        }

        p {
            color: $black_color;
            font-size: 18px;
            text-transform: capitalize;
            margin-bottom: 10px;
        }

        form {
            input {
                width: 100%;
                padding: 15px 20px;
                background-color: #ffffff;
                border: 1px solid #99BFBE;
                font-size: 18px;

                @include sm {
                    border: 1px solid #E4E6E8;
                }

                color: $black_color;
                border-radius: 14px;
                outline: none;
                margin: 10px 0px;

                &::placeholder {
                    color: #6F818C;
                    font-weight: 500;
                }
            }

            textarea {
                width: 100%;
                padding: 20px;
                background-color: #ffffff;
                border: 1px solid #99BFBE;
                font-size: 18px;
                height: 200px;

                @include sm {
                    border: 1px solid #E4E6E8;
                }

                color: $black_color;
                border-radius: 14px;
                outline: none;
                resize:vertical;

                &::placeholder {
                    color: #6F818C;
                    font-weight: 500;
                }
            }
        }
    }

    .uploadImage_content {
        min-height: 300px;
        position: relative;
        border: 1px dashed #7777776b;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;
        cursor: pointer;
        margin: 20px 0px;
        border-radius: 14px;

        .content {
            p {
                font-size: 22px;
                color: #00000096;
            }

            span {
                display: block;
                text-align: center;
                margin: 5px 0px;
            }

            button {
                border: 1px solid $primary-color;
                color: $primary-color;
                font-weight: 500;
                text-transform: uppercase;
                background-color: transparent;
                padding: 8px 15px;
                border-radius: 4px;
                width: fit-content;
                display: block;
                margin: auto;
                transition: 0.5s;
                cursor: pointer;
                outline: none;
                font-size: 17px;

                &:hover {
                    background-color: #9055fd2f;
                }
            }
        }

        input {
            display: none;
        }
    }


    .boxesArticles {
        display: grid;
        grid-template-columns: 1fr;
        margin: 50px 0px;

        @include smm {
            grid-template-columns: 1fr 1fr;
        }

        @include md {
            grid-template-columns: 1fr 1fr 1fr;
        }

        gap: 25px;

        .boxArticle {
            border: 1px solid #E4E6E8;
            border-radius: 14px;

            .image {
                img {
                    width: 100%;
                    border-top-left-radius: 14px;
                    border-top-right-radius: 14px;
                }
            }

            .text {
                position: relative;
                padding: 20px;

                .logo {
                    width: 60px;
                    height: 60px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #FFFFFF;
                    border-radius: 12px;
                    border: 1px solid #E4E6E8;
                    position: absolute;
                    top: -50px;
                    box-shadow: 0px 2px 8px 0px rgba(153, 155, 168, 0.2);

                    img {
                        width: 40px;
                        height: 40px;
                    }
                }

                h2 {
                    font-size: 19px;
                    color: $black_color;
                }

                p {
                    color: #6F818C;
                    line-height: 1.4;
                    font-size: 14px;
                    margin: 10px 0px;
                }

                .footer {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 20px;

                    button {
                        background-color: #F2F3F4;
                        color: $black_color;
                        border: 1px solid #F2F3F4;
                        padding: 0px 25px;
                        border-radius: 10px;
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        color: $black_color;
                        cursor: pointer;
                        transition: 0.5s;

                        p {
                            color: $black_color;
                            font-weight: 600;
                            transition: 0.5s;
                        }

                        &:hover {
                            background-color: $primary_color;
                            color: #FFFFFF;

                            p {
                                color: #FFFFFF;
                            }
                        }
                    }

                    span {
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        color: rgba(111, 129, 140, 0.75);
                        font-size: 13px;
                    }
                }
            }

        }
    }


    .formTwo {
        @include md {
            width: 70%;
        }

        ol {
            padding-left: 20px;

            li {
                margin-top: 20px;
            }
        }

        ul {
            padding-left: 15px;

            li {
                font-size: 15px;
                color: $black-color;
                margin: 5px 0px;
            }
        }

        p {
            color: $black_color;
            font-size: 16px;
            text-transform: capitalize;
            margin: 5px 0px 0px;
        }

        h5 {
            text-align: center;
            font-size: 17px;
            color: $black_color;
            margin: 10px 0px;
        }

        form {
            input {
                width: 100%;
                padding: 15px 20px;
                background-color: #ffffff;
                border: 1px solid #99BFBE;
                font-size: 18px;

                @include sm {
                    border: 1px solid #E4E6E8;
                }

                color: $black_color;
                border-radius: 14px;
                outline: none;
                margin: 10px 0px;

                &::placeholder {
                    color: #6F818C;
                    font-weight: 500;
                }
            }

            #addPara {
                width: 100%;

                @include sm {
                    width: 20%;
                }

                display: block;
                margin: 10px 0px 0px auto;
                padding: 12px;
                border-radius: 10px;
                outline: none;
                border: 1px solid $primary_color;
                background-color: $primary_color;
                color: #ffffff;
                font-size: 17px;
                font-weight: 600;
                cursor: pointer;
                transition: 0.5s;
                text-transform: uppercase;

                &:hover {
                    background-color: #ffffff;
                    color: $primary_color;
                }

            }

            textarea {
                width: 100%;
                padding: 20px;
                background-color: #ffffff;
                border: 1px solid #99BFBE;
                font-size: 18px;
                height: 200px;

                @include sm {
                    border: 1px solid #E4E6E8;
                }

                color: $black_color;
                border-radius: 14px;
                outline: none;
                resize:vertical;

                &::placeholder {
                    color: #6F818C;
                    font-weight: 500;
                }
            }
        }
    }

    .publishArticle {
        width: 100%;

        @include sm {
            width: 20%;
        }

        display: block;
        margin: 10px 0px 0px auto;
        padding: 12px;
        border-radius: 10px;
        outline: none;
        border: 1px solid $primary_color;
        background-color: $primary_color;
        color: #ffffff;
        font-size: 17px;
        font-weight: 600;
        cursor: pointer;
        transition: 0.5s;
        text-transform: uppercase;

        &:hover {
            background-color: #ffffff;
            color: $primary_color;
        }
    }

    .articleShow {
        margin-top: 50px;

        @include md {
            display: grid;
            gap: 30px;
            grid-template-columns: 2.5fr 1fr;
        }

        .top {
            border: 1px solid #E4E6E8;
            border-radius: 14px;
            margin-bottom: 20px;

            .image {
                img {
                    width: 100%;
                    border-top-left-radius: 14px;
                    border-top-right-radius: 14px;
                    height: 100px;
                    filter: blur(3px);
                }
            }

            .text {
                position: relative;
                padding: 20px;

                .textTop {
                    display: flex;

                    .logo {
                        width: 60px;
                        height: 60px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: #FFFFFF;
                        border-radius: 12px;
                        border: 1px solid #E4E6E8;
                        position: absolute;
                        top: -50px;
                        box-shadow: 0px 2px 8px 0px rgba(153, 155, 168, 0.2);

                        img {
                            width: 40px;
                            height: 40px;
                        }
                    }

                    span {
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        color: rgba(111, 129, 140, 0.75);
                        font-size: 13px;
                        flex: 1;
                        justify-content: end;
                    }
                }

                h2 {
                    font-size: 19px;
                    color: $black_color;
                    margin-top: 10px;
                }

                p {
                    color: #6F818C;
                    line-height: 1.4;
                    font-size: 14px;
                    margin: 10px 0px;
                }
            }
        }

        .aboutArticle {
            padding: 10px 25px;
            border: 1px solid #E4E6E8;
            border-radius: 16px;

            .image {
                margin-bottom: 30px;

                img {
                    width: 100%;
                    border-radius: 16px;
                }
            }

            .text {
                h1 {
                    color: $black_color;
                    padding: 10px 0px;
                    font-size: 22px;

                    @include sm {
                        font-size: 25px;
                    }
                }

                .body {
                    margin: 10px 0px 30px;
                    font-size: 15px;
                    color: $black_color;
                    line-height: 1.5;
                    font-weight: 500;
                }
            }

            ol {
                margin: 20px 0px;
                padding: 0px 0px 0px 10px;
                list-style: none;

                @include sm {
                    padding: 0px 35px;
                }

                li {
                    margin: 10px 0px;
                    color: $black_color;
                    font-weight: 500;
                    font-size: 14px;
                    position: relative;

                    &::before {
                        content: "";
                        position: absolute;
                        width: 5px;
                        height: 5px;
                        border-radius: 50%;
                        background-color: #CFB500;
                        left: -11px;
                        top: 20%;
                        transform: translateY(0%);

                        @include sm {
                            top: 50%;
                            transform: translateY(-50%);
                        }
                    }
                }
            }

        }
    }

}



.delete {
    background-color: transparent;
    color: red;
    font-size: 30px;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 20px;
    background-color: rgba(255, 0, 0, 0.361);
    width: 40px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.allArticles {
    background-color: #ffffff;
    text-decoration: none;
    padding: 13px 20px;
    color: #6F818C;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    font-size: 15px;
    border-radius: 8px;
    border: 1px solid #E4E6E8;
    cursor: pointer;
    transition: 0.5s;
    width: 100%;
    margin: 0px auto;

    @include sm {
        display: none;
    }

    @include md {
        font-size: 14px;
        padding: 12px 20px;
    }

    svg {
        font-size: 13px;
    }

    &:hover {
        background-color: $primary_color;
        color: #ffffff;
    }
}

.paragraph {
    margin: 40px 0px;
    position: relative;

    .icon {
        position: absolute;
        top: -28px;
        left: -28px;
    }

    .bodyParagraph {
        background-color: #F2F3F4;
        padding: 35px 25px 20px;
        border-radius: 16px;

        p {
            font-weight: 500;
            color: $black_color;
            line-height: 1.8;
            font-size: 16px;
            border-bottom: 1px solid #6f818c77;
            padding: 0px 0px 20px 0px;
        }

        .footer {
            display: flex;
            align-items: center;
            padding: 20px 0px 0px;
            gap: 10px;

            .footerText {
                h3 {
                    margin-bottom: 2px;
                    color: $black_color;
                }

                span {
                    color: #303638;
                    font-size: 15px;
                }
            }

            .image {
                margin-bottom: 0px !important;
            }
        }
    }
}