@use '../variables/colors' as *;
@use '../layout/mixins' as *;

header {
    // box-shadow: 0px 4px 8px -7px rgba(58, 53, 65, .42);
    background-color: #ffffff;
    border-bottom: 1px solid #E4E6E8;
    height: 64px;
    position: sticky !important;
    transform: translateY(0);
    width: 100%;
    transition: all ease 0.5s;
    z-index: 20000;
    top: 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .partOne {
            display: flex;
            align-items: center;
            gap: 24px;

            .logo {
                img {
                    width: 40px;
                    height: 40px;
                }
            }

            ul {
                list-style: none;
                display: none;
                gap: 30px;
                @include md {
                    display: flex;
                }
                

                li {
                    a {
                        display: block;
                        text-decoration: none;
                        color: $black_color;
                        font-size: 16px;
                        transition: 0.5s;
                        font-weight: 600;
                        position: relative;

                        &.active {
                            color: $primary_color;
                        }

                        &:hover {
                            color: $primary_color;
                        }
                    }
                }
            }
        }

        .partTwo {
            .icons {
                display: flex;
                align-items: center;
                gap: 20px;

                .search {
                    font-size: 16px;
                    color: #6F818C;
                    background-color: transparent;
                }
                .menuButton {
                    @include md {
                        display: none;
                    }
                }
            }
        }
    }
}